:root{
    --background-color:#091413;
    --link-color: #408A71;
    --text-color: #B0E4CC;
    --secondary-color: #285A48;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--link-color);

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right{
    display: flex;
    justify-content: right;
    margin-top: 0px;
}

#left{
    display: flex;
    justify-content: left;
    
}

.link,.link1{
    margin-left: 10px;
}

#logo{
    width: 120px;
    height: auto;
}