:root{
    --background-color:#091413;
    --link-color: #408A71;
    --text-color: #B0E4CC;
    --secondary-color: #285A48;
    --decoration-color: #D8EFE4;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--link-color);

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right{
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: 2em;
    border: 1px solid;
    border-color: var(--decoration-color);
    padding: 10px;
}

#left{
    display: flex;
    justify-content: flex-start;
}

.link,.link1{
    margin-left: 1em;
    background-color: var(--background-color);
    color: var(--link-color);
    border-radius: 10px;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--decoration-color),
                0 0 20px #ff4d4d,
                0 0 40px  var(--decoration-color);

    transform: scale(1.05);
}
.link1:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--decoration-color),
                0 0 20px #ff4d4d,
                0 0 40px  var(--decoration-color);

    transform: scale(1.05);
    
}

#logo{
    width: 80px;
    height: auto;
}