*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root{
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);
}

body{
    min-height: 100vh;
    background-color: var(--background);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15,15,15,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 3em;
}

.link:hover{
    padding: 0.5em 1em;
    color: #FFD700;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    
    border: 1px solid #D4AF37;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav ul a{
    color:white;
    opacity: 0.7;
    transition: 0.4s ease-in-out;
}

nav ul a:hover{
    opacity: 1;
}

.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2 ease-in-out;
}

.logo:hover{
    opacity: 1;
}

.btn{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: white;
    color: var(--background);
}



span{
    background: linear-gradient(to right, #6cff52, #3ec5ff);
    background-clip: text;
    color: transparent;
    
}

#span1{
    font-family: cursive;
}

#menu{
    color: white;
    font-size: 3em;
    display: none;
}


section{
    min-height: 100vh;
    padding: 5% 15%;

}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}

#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 600px;

}

.info-box h1{
    font-size: 5em;
    font-weight: 500;
}

.info-box h3{
    font-size: 2em;
    font-weight: 400;
}

.info-box p{
    opacity: 0.7;
}

.btn-box{
    display: flex;
    gap: 1em;
}

.btn-box .btn:nth-of-type(2){
    background-color: white;
    color: var(--background);
}

.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
}


::-webkit-scrollbar{
    width: 5px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}

.about-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #6cff52;
    transition: 0.5s ease-in-out
}

.about-img img:hover{
    border-radius: 50%;
    animation: glow 1.5s infinite alternate;
}

.about{
    display: flex;
    align-items: center;
    gap: 10rem;
    background: var(--second-background);
}

.about-content h2{
    color: white;
    font-size: 5rem;
    text-align: left;
}

.about-content p{
    color: white;
    font-size: 1.4rem;
}

.about-content .btn{
    color: white;
    margin: 3rem 0;

}

#readMe{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    width: 8.5rem;
    letter-spacing: 2px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#readMe:hover{
    background-color: white;
    color: var(--background);
}


.skills{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

#line{
    background-color: #3ec5ff;
    align-items: center;
    height: 35rem;
    width: 0.4rem;
    margin: 1rem;
}

.programming-left{
    margin-top: 1rem;
    text-align: right;
}

.web-left{
    margin-top: 17rem;
    margin-right: -18.4rem;
    text-align: right;
}

.tool-right{
    margin-top: 10rem;
    text-align: left;
}

.other-right{
    margin-left: -15.7rem;
    margin-top: 26rem;
    text-align: left;
}



































@keyframes glow {
    from {
        box-shadow: 0 0 10px #6cff52;
    }
    to {
        box-shadow: 0 0 30px #6cff52,
                    0 0 15px #6cff52, 
                    0 0 60px #6cff52;
    }
}
